.navbar {
    background-color: #E4E4F5;
    height: 50px;
    padding: 0px;
}
.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.logo {
    margin-top: 0;
    margin-bottom: 5px;
    height: 30px;
    width: 90px;
}
.nav-item {
    display: inline-block;
    background-color: #E4E4F5;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #4f4f4f;
}
.dropdown-menu{
    background-color: #E4E4F5;
    color: #4f4f4f;
}
.dropdown-item:hover{
  background-color: #d6338623;
  text-decoration: none;
}
.nav-btn {
    display: inline-block;
    background-color: #E4E4F5;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #4f4f4f;
}
.navbar-collapse {
    background-color: #E4E4F5;
}

.nav-item:hover {
    background-color: #d6338623;
    text-decoration: none;
}
.nav-link:hover{
  text-decoration: none;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem #555;
}

  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      white-space: nowrap;
      line-height: 50px; /* Vertically center the text there */
      background-color: #E4E4F5;
      justify-content: center;
      text-align: center;
      box-shadow: 0 -0.25rem .75rem #555;
  }
  .img-recode{
    height: 12px;
  }

  .header-pags{
    display: inline-flex;
    justify-content: center;
    background-color:#d6338666;
    height:100px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 .25rem .75rem #555;
  }
  .header-pags > h2{
    font-family: 'Baumans';
    height:100px;
    padding: 30px;
  }
